.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
    }
  }
  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;

    &:focus + label::before {
      outline-offset: -2px;
    }
    &:checked + label::after {
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
      content: "\f00c";
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      background-color: #eeeeee;
      cursor: not-allowed;
    }
  }
  &.checkbox-circle label::before {
    border-radius: 50%;
  }
  &.checkbox-inline {
    margin-top: 0;
  }

  &-primary input[type="checkbox"]:checked + label {
    &::before {
      background-color: $navy;
      border-color: $navy;
    }
    &::after {
      color: #fff;
    }
  }

  &-danger input[type="checkbox"]:checked + label {
    &::before {
      background-color: $red;
      border-color: $red;
    }

    &::after {
      color: #fff;
    }
  }

  &-info input[type="checkbox"]:checked + label {
    &::before {
      background-color: $lazur;
      border-color: $lazur;
    }

    &::after {
      color: #fff;
    }
  }

  &-warning input[type="checkbox"]:checked + label {
    &::before {
      background-color: $yellow;
      border-color: $yellow;
    }

    &::after {
      color: #fff;
    }
  }

  &-success input[type="checkbox"]:checked + label {
    &::before {
      background-color: $blue;
      border-color: $blue;
    }

    &::after {
      color: #fff;
    }
  }
}

.radio {
  padding-left: 20px;

  label {
    outline: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    &::before {
      outline: none;
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }

  input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    &:focus + label::before {
      outline-offset: -2px;
    }

    &:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }

    &:disabled + label {
      opacity: 0.65;
    }

    &:disabled + label::before {
      cursor: not-allowed;
    }
  }

  &.radio-inline {
    margin-top: 0;
  }

  &-primary input[type="radio"] {
    + label::after {
      background-color: $navy;
    }

    &:checked + label {
      &::before {
        border-color: $navy;
      }
      &::after {
        background-color: $navy;
      }
    }
  }

  &-danger input[type="radio"] {
    + label::after {
      background-color: $red;
    }

    &:checked + label {
      &::before {
        border-color: $red;
      }
      &::after {
        background-color: $red;
      }
    }
  }

  &-info input[type="radio"] {
    + label::after {
      background-color: $lazur;
    }

    &:checked + label {
      &::before {
        border-color: $lazur;
      }
      &::after {
        background-color: $lazur;
      }
    }
  }

  &-warning input[type="radio"] {
    + label::after {
      background-color: $yellow;
    }

    &:checked + label {
      &::before {
        border-color: $yellow;
      }
      &::after {
        background-color: $yellow;
      }
    }
  }

  &-success input[type="radio"] {
    + label::after {
      background-color: $blue;
    }

    &:checked + label {
      &::before {
        border-color: $blue;
      }
      &::after {
        background-color: $blue;
      }
    }
  }
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
