// Variables
$dp-gray: lighten(#000, 33.5%); // #555
$dp-gray-light: lighten(#000, 46.7%); // #777
$dp-gray-lighter: lighten(#000, 93.5%); // #eee

$dp-brand-primary: darken(#428bca, 6.5%); // #337ab7

$dp-btn-primary-color: #fff;
$dp-btn-primary-bg: $dp-brand-primary;
$dp-btn-primary-border: darken($dp-btn-primary-bg, 5%);

$dp-btn-link-disabled-color: $dp-gray-light;

$dp-state-info-bg: #d9edf7;

$dp-line-height-base: 1.428571429; // 20/14
$dp-border-radius-base: 4px;

$dp-dropdown-bg: #fff;
$dp-dropdown-border: rgba(0, 0, 0, .15);

// Mixins

// Button variants
@mixin button-variant($dp-color, $dp-background, $dp-border) {
  color: $dp-color;
  background-color: $dp-background;
  border-color: $dp-border;

  &:focus,
  &.focus {
    color: $dp-color;
    background-color: darken($dp-background, 10%);
    border-color: darken($dp-border, 25%);
  }
  &:hover {
    color: $dp-color;
    background-color: darken($dp-background, 10%);
    border-color: darken($dp-border, 12%);
  }
  &:active,
  &.active {
    color: $dp-color;
    background-color: darken($dp-background, 10%);
    border-color: darken($dp-border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $dp-color;
      background-color: darken($dp-background, 17%);
      border-color: darken($dp-border, 25%);
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $dp-background;
      border-color: $dp-border;
    }
  }
}

.datepicker {
  border-radius: $dp-border-radius-base;
  &-inline {
    width: 220px;
  }
  direction: ltr;
  &#{&}-rtl {
    direction: rtl;
    table tr td span {
      float: right;
    }
  }
  &-dropdown {
    top: 0;
    left: 0;
    padding: 4px;
    &:before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $dp-dropdown-border;
      border-top: 0;
      border-bottom-color: rgba(0, 0, 0, .2);
      position: absolute;
    }
    &:after {
      content: '';
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $dp-dropdown-bg;
      border-top: 0;
      position: absolute;
    }
    &.datepicker-orient-left:before {
      left: 6px;
    }
    &.datepicker-orient-left:after {
      left: 7px;
    }
    &.datepicker-orient-right:before {
      right: 6px;
    }
    &.datepicker-orient-right:after {
      right: 7px;
    }
    &.datepicker-orient-bottom:before {
      top: -7px;
    }
    &.datepicker-orient-bottom:after {
      top: -6px;
    }
    &.datepicker-orient-top:before {
      bottom: -7px;
      border-bottom: 0;
      border-top: 7px solid $dp-dropdown-border;
    }
    &.datepicker-orient-top:after {
      bottom: -6px;
      border-bottom: 0;
      border-top: 6px solid $dp-dropdown-bg;
    }
  }
  table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    tr {
      td, th {
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: none;
      }
    }
  }
  // Inline display inside a table presents some problems with
  // border and background colors.
  .table-striped & table tr {
    td, th {
      background-color: transparent;
    }
  }
  table tr td {
    &.old,
    &.new {
      color: $dp-btn-link-disabled-color;
    }
    &.day:hover,
    &.focused {
      background: $dp-gray-lighter;
      cursor: pointer;
    }
    &.disabled,
    &.disabled:hover {
      background: none;
      color: $dp-btn-link-disabled-color;
      cursor: default;
    }
    &.highlighted {
      $dp-highlighted-bg: $dp-state-info-bg;
      @include button-variant(#000, $dp-highlighted-bg, darken($dp-highlighted-bg, 20%));
      border-radius: 0;

      &.focused {
        background: darken($dp-highlighted-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: $dp-highlighted-bg;
        color: $dp-btn-link-disabled-color;
      }
    }
    &.today {
      $dp-today-bg: lighten(orange, 30%);
      @include button-variant(#000, $dp-today-bg, darken($dp-today-bg, 20%));

      &.focused {
        background: darken($dp-today-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: $dp-today-bg;
        color: $dp-btn-link-disabled-color;
      }
    }
    &.range {
      $dp-range-bg: $dp-gray-lighter;
      @include button-variant(#000, $dp-range-bg, darken($dp-range-bg, 20%));
      border-radius: 0;

      &.focused {
        background: darken($dp-range-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: $dp-range-bg;
        color: $dp-btn-link-disabled-color;
      }
    }
    &.range.highlighted {
      $dp-range-highlighted-bg: mix($dp-state-info-bg, $dp-gray-lighter, 50%);
      @include button-variant(#000, $dp-range-highlighted-bg, darken($dp-range-highlighted-bg, 20%));

      &.focused {
        background: darken($dp-range-highlighted-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: $dp-range-highlighted-bg;
        color: $dp-btn-link-disabled-color;
      }
    }
    &.range.today {
      $dp-range-today-bg: mix(orange, $dp-gray-lighter, 50%);
      @include button-variant(#000, $dp-range-today-bg, darken($dp-range-today-bg, 20%));

      &.disabled,
      &.disabled:active {
        background: $dp-range-today-bg;
        color: $dp-btn-link-disabled-color;
      }
    }
    &.selected,
    &.selected.highlighted {
      @include button-variant(#fff, $dp-gray-light, $dp-gray);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
    &.active,
    &.active.highlighted {
      @include button-variant($dp-btn-primary-color, $dp-btn-primary-bg, $dp-btn-primary-border);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
    span {
      display: block;
      width: 23%;
      height: 54px;
      line-height: 54px;
      float: left;
      margin: 1%;
      cursor: pointer;
      border-radius: 4px;
      &:hover,
      &.focused {
        background: $dp-gray-lighter;
      }
      &.disabled,
      &.disabled:hover {
        background: none;
        color: $dp-btn-link-disabled-color;
        cursor: default;
      }
      &.active,
      &.active:hover,
      &.active.disabled,
      &.active.disabled:hover {
        @include button-variant($dp-btn-primary-color, $dp-btn-primary-bg, $dp-btn-primary-border);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
      }
      &.old,
      &.new {
        color: $dp-btn-link-disabled-color;
      }
    }
  }

  .datepicker-switch {
    width: 145px;
  }

  .datepicker-switch,
  .prev,
  .next,
  tfoot tr th {
    cursor: pointer;
    &:hover {
      background: $dp-gray-lighter;
    }
  }

  // Basic styling for calendar-week cells
  .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
  }
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.input-daterange {
  width: 100%;
  input {
    text-align: center;
  }
  input:first-child {
    border-radius: 3px 0 0 3px;
  }
  input:last-child {
    border-radius: 0 3px 3px 0;
  }
  .input-group-addon {
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    line-height: $dp-line-height-base;
    text-shadow: 0 1px 0 #fff;
    border-width: 1px 0;
    margin-left: -5px;
    margin-right: -5px;
  }
}
