// sweetalert2 bs3 fix https://github.com/sweetalert2/sweetalert2/issues/974
.swal2-popup {
  font-size: 1.5rem !important;
}

.swal2-cancel {
  margin-left: 10px;
}

// chrome mac всегда показывается горизонтальный скролл
// который показывается выше чем popup
.swal2-shown .table-responsive {
  overflow-x: hidden;
}

