/* Select2 custom styles */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  background: #FFFFFF none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  height: 34px;
  font-size: 14px;
  line-height: 1.428571429;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: $navy;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $navy;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $border-color;
}

.select2-container--default .select2-selection--single {
  .select2-selection__rendered {
    line-height: 1.428571429;
    height: 34px;
    padding: 6px 20px 6px 8px;
  }
  .select2-selection__arrow {
    height: 34px;
  }
}

.select2-dropdown {
  border-color: $border-color;

  input:focus {
    outline: none;
  }
}

.select2-selection {
  outline: none;
}

.ui-select-container.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $navy;
}
